.circleci
.git
.vscode
node_modules
secrets
.dockerignore
.editorconfig
.env
.gitignore
.gitmodules
.nvmrc
.prettier\*
Caddyfile
docker-compose.yml
README.md


apps
packages

!apps/server/.env
!apps/server/package.json
!apps/server/dist

!packages/core/package.json
!packages/core/dist
